.all_cities{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 12px;
    padding: 15px 10px;
}

.citySubmitButton{
    font-size: 12px !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    padding: 5px 0 !important;
    width: 100%;
}
@media (min-width: 576px) and (max-width: 1200px) {
    .all_cities{
        width: 90%;
    }
}